html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5em;
  font-size: 1em;
}

h1, h2, h3 {
  text-align: center;
}


body {
  background: #303031;
}



$main_theme : #e82a37;//248,43,55
$html_color : #F16528;
$css_color : #369CD6;
$scss_color : #CF649A;
$js_color : #E4A126;
$react_color : #6ECFF1;
$github_color : #9B42A7;
$bem_color : #ffffff;

$linkedin_shadow : #004F77;
$github_shadow : #292929;
$vk_shadow : #314C68;
$telegram_shadow : #006599;

.scroll_to_top_btn { 
  display: none;
  position: fixed;
  bottom: 17px;
  right: 50px;
  width: 65px;
  height: 65px;
  border-radius: 999px;
  background-color: $main_theme;
  transition: 0.3s ease;
  opacity: 0;
  cursor: pointer;
}


.scroll_to_top_btn_active:hover { 
  transform: scale(1.06);
  opacity: 1;
}

.scroll_to_top_btn_active {
  transition: 0.3s;
  opacity: 1;
}

.scroll_to_top_btn:after{
  content: "";
  width: 10%;
  height: 10%;
  display: block;
  margin: 43% auto 0 auto;
  border: solid #222;
  border-width: 0 4px 4px 0;
  padding: 4px;
  transform: rotate(-135deg);
  transition: 0.3s;
}







// main ------------------------------------------------------------------------




main {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background: #404042;
}

header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.logo {
  font-family: 'Gothic A1', sans-serif;
  color: #fff;
  font-size:16px;
  color: $main_theme;
  margin: 0px 0px 20px 10px;
  span {
    color: #fff;
  }
}

nav {
  width: 45%;
}

.main_menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 55px;
  margin-right: 60px;
  margin-top: 2px;
}

.main_menu_item {
  position: relative;
  font-family: sans-serif;
  font-size: 16px;
  width: 20%;
  text-align: center;
  line-height: 55px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
  transition: 0.2s;
}

.main_menu_item_active {
  background-color: $main_theme;
}

.main_menu_item::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left:0%;
  width: 100%;
  height: 3px;
  background: $main_theme;
  opacity: 0;
  transition: 0.2s;
}

.main_menu_item:hover::after{
  opacity: 1;
}

.second_pages_menu {
  display: flex;
  width: 60%;

  .main_menu_item {
    width: 33.3333333333333333333%;
  }
}

.main_content {
  box-sizing: border-box;
  position: absolute;
  top:0;
  left:0;
  display: flex;
  width: 300%;
  transition: 0.8s;
  transform: translateX(-33.3333%);
  height: 100vh;
  will-change: opacity; // contants вызывает ошибки в виде вертикальных линий на странице с проектами при наведении на пункт main
}







.main_content_active {
  top: 12%;
  height: 66.7%;
  width: 200%;

  .main_page {
    .main_page_background_hint {
      li {
        font-size: 13px;
      }
    }	

    h1 {
      font-size: 38px;
      margin: 0px;
      padding: 0px;
    }

    h2 {
      font-size: 22px;
    }
  }

  .about_me_page {
    .about_me_text_and_photo {
      top: 28%;
      left: 3%;
      transform: scale(0.8);
    }



  }

}






.hover_hint {
  box-sizing: border-box;
  position: absolute;
  width: 10%;
  bottom: 80px;
  left: 45%;
  text-align: center;
  color: $main_theme;
  font-family: sans-serif;
  opacity: 1;
}

.hover_hint_active {
  opacity: 0;
}





// contacts page ---------------------------------------------------------------


.contacts_page {
  width: 33.3333%;
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
  transition: 0.5s;
}





// main page -------------------------------------------------------------------


.main_page {
  position: relative;
  width: 33.3333%;
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
  transition: 0.5s;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .main_page_background_hint {
    position: absolute;
    bottom: 10%;
    left: 3%;
    font-family: sans-serif;
    color: #fff;
    font-size: 17px;
    opacity: 0.3;
    transition: 0.8s;

    li {
      list-style: initial;
      line-height: 25px;
      margin-bottom: 5px;
      transition:0.8s;
    }

  }

 .main_page_titles {
   box-sizing: border-box;
   width: 100%;
   height: 60%;
   position: relative;
 }

  h1 {
    display: block;
    font-family: sans-serif;
    font-size: 50px;
    color: #fff;
    transition: 0.8s;
  }

  h2 {
    margin-top: 5%;
    font-family: sans-serif;
    font-size: 30px;
    color: #fff;
    transition: 0.8s;
  }


  .icons_block {
    position: absolute;
    right: 2%;
    bottom: 15%;
    box-sizing: border-box;
    display: flex;
    width: 23%;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
  }

  .icons_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    a {
      position: absolute;
      font-family: sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 40px;
      line-height: 40px;
      text-decoration: none;
      color: #fff;
    }
  }

  img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .icon p {
    position: relative;
    width: 65%;
    padding-bottom: 65%;
    color: rgba(255,255,255,1);
    text-decoration: none;
    font-weight: 700;
    font-size: 3em;
    display: block;
    text-align: center;
    transition: 0.2s;
    transform:  rotateX(46deg) rotateY(0deg) rotateZ(22deg);
  }

  .icon:hover p{
    transform:  rotateX(46deg) rotateY(0deg) rotateZ(22deg) translateX(0px) translateZ(-8px);
  }

  .linkedin_icon p {
    background: #0076B4;
    box-shadow:1px 1px $linkedin_shadow,
               2px 2px $linkedin_shadow,
               3px 3px $linkedin_shadow,
               4px 4px $linkedin_shadow,
               5px 5px $linkedin_shadow,
               6px 6px $linkedin_shadow,
               7px 7px $linkedin_shadow,
               8px 8px $linkedin_shadow,
               9px 9px $linkedin_shadow,
               10px 10px $linkedin_shadow;
  }

  .linkedin_icon:hover p {
    box-shadow:1px 1px $linkedin_shadow,
               2px 2px $linkedin_shadow,
               3px 3px $linkedin_shadow,
               4px 4px $linkedin_shadow;
   }

  .github_icon p {
    background: #333;
    box-shadow:1px 1px $github_shadow,
                2px 2px $github_shadow,
                3px 3px $github_shadow,
                4px 4px $github_shadow,
               5px 5px $github_shadow,
               6px 6px $github_shadow,
               7px 7px $github_shadow,
               8px 8px $github_shadow,
               9px 9px $github_shadow,
               10px 10px $github_shadow;
  }

  .github_icon:hover p {
    box-shadow:1px 1px $github_shadow,
                2px 2px $github_shadow,
                3px 3px $github_shadow,
                4px 4px $github_shadow;
  }


  .vk_icon p {
    background-color: #4C75A3;
    box-shadow: 1px 1px $vk_shadow,
                2px 2px $vk_shadow,
                3px 3px $vk_shadow,
                4px 4px $vk_shadow,
                5px 5px $vk_shadow,
                6px 6px $vk_shadow,
                7px 7px $vk_shadow,
                8px 8px $vk_shadow,
                9px 9px $vk_shadow,
                10px 10px $vk_shadow;
  }

  .vk_icon:hover p {
    box-shadow:1px 1px $vk_shadow,
               2px 2px $vk_shadow,
               3px 3px $vk_shadow,
               4px 4px $vk_shadow;
  }



  .telegram_icon p {
    background-color: #0087CB;
    box-shadow:1px 1px $telegram_shadow,
               2px 2px $telegram_shadow,
               3px 3px $telegram_shadow,
               4px 4px $telegram_shadow,
               5px 5px $telegram_shadow,
               6px 6px $telegram_shadow,
               7px 7px $telegram_shadow,
               8px 8px $telegram_shadow,
               9px 9px $telegram_shadow,
               10px 10px $telegram_shadow;
  }

  .telegram_icon:hover p {
    box-shadow: 1px 1px $telegram_shadow,
                2px 2px $telegram_shadow,
                3px 3px $telegram_shadow,
                4px 4px $telegram_shadow;
  }


}





// About me page -------------------------------------------------------------->


.about_me_page {
  position: relative;
  width: 33.3333%;
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;

  .about_me_text_and_photo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 880px;
    margin-top: -5%;
    transition: 0.8s;
  }


  .img_wrapper {
    position: relative;
    width: 243px;
    padding-bottom: 243px;
    overflow: hidden;

    img {
      position: absolute;
      display: block;
      width: 100%;
    }

  }


  .text_block {
    color: #eaeaea;
    font-family: sans-serif; 
    line-height: 160%;
    p {
      width: 100%;
    }

    h3 {
      transition: 0.5s;
      font-size: 35px;
      line-height: 150%;
      text-align: left;
      margin-top: -2%;
    }

    a {
      color: #fff;
    }

  }


}







// dots block ------------------------------------------------------------------





.pages_menu {
  position: absolute;
  bottom: 0;
  height: 85px;
    width: 100%;
  cursor: pointer;

  .down_arrow {
      position: absolute;
    top: 31px;
    left: 49.4%;
      width: 1%;
    height: 50px;
    will-change: transform;
    transition: 0.5s;
  }

  .down_arrow_hover {
    opacity: 0;
  }

  .down_arrow span {
      box-sizing: border-box;
      display: block;
      width: 16px;
    height: 16px;
    border-bottom: 3px solid $main_theme;
    border-right: 3px solid $main_theme;
    transform: rotate(45deg);
    margin: -10px 0;
    animation: down-arrow 2s infinite;
  }

  .down_arrow span:nth-child(2){
    animation-delay: -0.2s;
  }

  .down_arrow span:nth-child(3){
    animation-delay: -0.4s;
  }

  @keyframes down-arrow {
    0%{
        opacity: 0;
        transform: translate(0,-20px) rotate(45deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0,20px) rotate(45deg);
    }
  }


  .dots_and_subtitle {
    position: absolute;
    top: 17px;
    transition: 0.5s;
    transform: translateY(200px);
      width: 70%;
    left: 15%;
  }

  .dots_and_subtitle_active {
    left: 30%;
  }

  .dots_and_subtitle_onmouseover {
    transform: translateY(0px);
  }

  .dots {
      display: flex;
      justify-content: center;
    align-items: center;
   }

  .dot {
      width: 14px;
      height: 14px;
      border-radius: 999px;
      border: 1px solid #fff;
    background: #fff;
      margin: 0px 5px;
    transition: 0.3s;
      cursor: pointer;
  }

  .active_dot {
      border: 1px solid $main_theme;
      background: $main_theme;
  }

  .dot_hover {
      border: 1px solid $main_theme;
      background: $main_theme;
  }

  .dot:hover {
      border: 1px solid $main_theme;
  }

  h2 {
      text-transform: uppercase;
      text-align: center;
      line-height: 50px;
      font-family: sans-serif;
      color: #333;
  }

  .dot1 {

  }

  .dot2 {

  }

  .dot3 {

  }

  .dot1_subtitle {
    display: none;
  }

  .dot2_subtitle {
    display: none;
  }

  .dot3_subtitle {
    display: none;
  }

  .subtitle_hover {
    color: #c0c0c0;
    display: block;
  }

  .active_subtitle {
    display: block;
  }

  .page_areas_block {
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .page_areas_block_active {
    left: 30%;
    width: 70%;
  }

  .page1_area {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 33.33333%;
    transition: 0.3s;
  }

  .page2_area {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left:  33.333331%;
    height: 100%;
    width: 33.33333%;
    transition: 0.3s;
  }

  .page3_area {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 66.66666%;
    height: 100%;
    width: 33.333333%;
    transition: 0.3s;
  }

  .active_page_area {
    border-bottom: 3px solid $main_theme;
  }

  .page1_area:hover {
    border-bottom: 7px solid $main_theme;
  }

  .page2_area:hover {
    border-bottom: 7px solid $main_theme;
  }

  .page3_area:hover {
    border-bottom: 7px solid $main_theme;
  }

}


.contacts_page_active {
  background: #4c4c4e;
}

.main_page_active {
  background: #4c4c4e;
}

.about_me_page_active {
  background: #4c4c4e;
}



//end.





// section projects ---------------------------------------------------------------

$projects_background : #484848;


.projects {
  position: relative;
  height: 110vh;
  background: $projects_background;
  font-family: Segoe, "Segoe UI", Optima, Arial, sans-serif;

  .projects_background_hint {
    position: absolute;
    top: 3%;
    right: 3%;
    color: #fff;
    font-size: 17px;
    opacity: 0;
    transition: 0.8s;
    z-index: 1;
    font-family: sans-serif;

    li {
      list-style: initial;
      line-height: 25px;
      margin-bottom: 5px;
      transition: 0.8s;
    }

  }

  .background_hint_active {
    opacity: 0.3;
  }

  .projects_content  {
    perspective: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .container {
    box-sizing: border-box;
    width: 62%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    transition: 0.8s;
    transform: translateY(-15%) rotateX(40deg) rotateZ(-25deg) rotateY(8deg);
    transform-style: preserve-3d;
  }

  .container_active {
    transform-style: flat;
    transform: rotate(0) translateY(0%);
  }

  .project_card {
    position: relative;
    perspective: 1000px;
    width: 100%;
    padding-bottom: 88%;
    transition: 0.3s;
    background: $projects_background;
  }

  .project_card:hover {
    cursor: pointer;
    transform: translateZ(16px);
  }

  .project_front, .project_back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
    backface-visibility: hidden;
  }

  .image_block {
    width: 100%;
    height: 100%;
    overflow : hidden;
  }

  img {
    display: block;
    width: 101%;
    padding-bottom: 2px;
  }

  .project_card_active .project_front {
     transform:rotateX(-180deg);
  }

  .project_card_active .project_back {
     transform:rotateX(-360deg);
  }

  .project_front {
    background: #353434;

    p {
      font-size: 14px;
      color: #e0e0e0;
      padding: 3px 0px 3px 15px;
    }

  }



  .project_front::after {
    content: '';
    position: absolute;
    bottom: 3px;
    right: 3px;
    width: 40px;
    height: 40px;
    background-image: url(../images/go_to_project_icon.png);
    background-size: cover;
  }

  .project_front:hover .project_front_hover_panel {
    opacity: 1;
  }

  .project_front_hover_panel {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(35,34,34,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    opacity: 0;
  }

  .turn_around_icon_down {
    margin-top: -2%;
    width: 50%;
    padding-bottom: 50%;
    background-size: cover;
    transform: translateZ(0);
    transition: 0.3s;
  }

  .go_to_project_icon, .turn_around_icon_top {
    margin-top: -2%;
    width: 32%;
    padding-bottom: 32%;
    background-size: cover;
    transform: translateZ(0);
    transition: 0.3s;
  }

  .turn_around_icon_down {
    background-image: url(../images/project_turn_around_icon_down.png);
  }

  .turn_around_icon_top {
    background-image: url(../images/project_turn_around_icon_top.png);
  }

  .go_to_project_icon{
    background-image: url(../images/go_to_project_icon.png);
  }

  .turn_around_icon_top:hover, .turn_around_icon_down:hover, 	.go_to_project_icon:hover {
    transform: translateZ(0deg);
  }

  .project_back {
    background-color: #353434;
    transform:rotateX(-180deg);
    overflow: hidden;
  }

  .project_back:hover .project_back_hover_panel {
    opacity: 1;
  }

  .project_back_hover_panel {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(45,45,45,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.2s;
  }



}




// skills --------------------------------------------------------------------->



.skills {
  background: #303031;
  padding-top: 70px;
  padding-bottom: 70px;
  margin:0px;

  h2 {
    color: #fff;
    font-size: 50px;
    font-family: sans-serif;
    line-height: 70px;
    margin-bottom: 50px;
  }

}


.flip_all_cards_btn {
  margin: 40px auto 50px auto;
  width: 170px;
  border-radius: 999px;
  height: 45px;
  border: 2px solid $main_theme;
  color: #fff;
  line-height: 45px;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
  // box-shadow: 0px 1px 0px #641319;
}

.flip_all_cards_btn:hover {
  transform: translateY(2px);
  background: $main_theme;
  // box-shadow: 0px 1px 0px #641319;
}

.skills_wrapper {
  display: grid;
  width: 891px;
  grid-template-columns: 257px 257px 257px;
  grid-template-rows: 304px 304px 304px;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  margin: auto;
}

.skill_card{
  position:relative;
  perspective: 1000px;
}

.front, .back{
  position:absolute;
  width:100%;
  height:100%;
  left: 0;
  top: 0;
  display:flex;
  justify-content:center;
  align-items:center;
  transition: 0.8s;
  backface-visibility:hidden;
}

.front {
  overflow: hidden;
  background: #bFc1c6;
}

.back {
  background-color: #3e3e3f;
  transform:rotatey(180deg);
  overflow: hidden;
}

.skill_card_active .front{
   transform:rotatey(180deg);
}

.skill_card_active .back{
   transform:rotatey(360deg);
}

.front:hover .front_hover_panel {
  opacity: 1;
}

.front_hover_panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(100,103,110,0.6);
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;

  .front_icon {
    width: 180px;
    height: 180px;
    background-image: url(../images/turn_around_icon.png);
    background-size: cover;
    cursor: pointer;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

}

.back_hover_panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(65,65,66,0.6);
  overflow: hidden;
  transition: 0.3s;
  opacity: 0;
}

.back:hover .back_hover_panel {
  opacity: 1;
}

.back_hover_panel_active {
  opacity: 1;
  cursor: pointer;
}

.back_icon {
  width: 180px;
  height: 180px;
  background-image: url(../images/turn_around_icon.png);
  background-size: cover;
  transform: rotateY(180deg);
  cursor: pointer;
}

.back p {
  position: absolute;
  top: 30px;
  font-family: sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.skill_procent {
  margin-top: 31px;
  width: 174px;
  height: 174px;
  color: #f0f0f0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 52px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.html_skill {
  p {
    letter-spacing: 3px;
    color: $html_color;
  }
  .skill_procent {
    box-shadow: 0px 0px 15px $html_color;
    border: 5px solid $html_color;
  }

}

.css_skill {
  p {
    letter-spacing: 1px;
    color: $css_color;
  }
  .skill_procent {
    box-shadow: 0px 0px 15px $css_color;
    border: 5px solid $css_color;
  }
}

.scss_skill {
  p {
    letter-spacing: 1px;
    color: $scss_color;
  }
  .skill_procent {
    box-shadow: 0px 0px 15px $scss_color;
    border: 5px solid $scss_color;
  }
}

.js_skill {
  p {
  color: $js_color;
  }
  .skill_procent {
    box-shadow: 0px 0px 15px $js_color;
    border: 5px solid $js_color;
  }
}

.react_skill {
  p {
    letter-spacing: 2px;
    color: $react_color;
  }
  .skill_procent {
    box-shadow: 0px 0px 15px $react_color;
    border: 5px solid $react_color;
  }
}

.github_skill {
  p {
    letter-spacing: 2px;
    color: $github_color;
  }
  .skill_procent {
    box-shadow: 0px 0px 15px $github_color;
    border: 5px solid $github_color;
  }
}

.bem_skill {
  p {
    letter-spacing: 2px;
    color: $bem_color;
  }
  .skill_procent {
    box-shadow: 0px 0px 15px $bem_color;
    border: 5px solid $bem_color;
  }
}

//end.




// footer --------------------------------------------------------------------->



footer {
  position: relative;
  height: 150px;
  background: #39393a;
  margin: 0px;

  .icons_block {
    position: absolute;
    left: 38.5%;
    box-sizing: border-box;
    display: flex;
    width: 23%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }

  .icons_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    a {
      position: absolute;
      font-family: sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 40px;
      line-height: 40px;
      text-decoration: none;
      color: #fff;
    }
  }

  img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .icon p {
    position: relative;
    width: 65%;
    padding-bottom: 65%;
    color: rgba(255,255,255,1);
    text-decoration: none;
    font-weight: 700;
    font-size: 3em;
    display: block;
    text-align: center;
    transition: 0.2s;
    transform:  rotateX(46deg) rotateY(0deg) rotateZ(22deg);
  }

  .icon:hover p{
    transform:  rotateX(46deg) rotateY(0deg) rotateZ(22deg) translateX(0px) translateZ(-8px);
  }

  .linkedin_icon p {
    background: #0076B4;
    box-shadow:1px 1px $linkedin_shadow,
               2px 2px $linkedin_shadow,
               3px 3px $linkedin_shadow,
               4px 4px $linkedin_shadow,
               5px 5px $linkedin_shadow,
               6px 6px $linkedin_shadow,
               7px 7px $linkedin_shadow,
               8px 8px $linkedin_shadow,
               9px 9px $linkedin_shadow,
               10px 10px $linkedin_shadow;
  }

  .linkedin_icon:hover p {
    box-shadow:1px 1px $linkedin_shadow,
               2px 2px $linkedin_shadow,
               3px 3px $linkedin_shadow,
               4px 4px $linkedin_shadow;
   }

  .github_icon p {
    background: #333;
    box-shadow:1px 1px $github_shadow,
                2px 2px $github_shadow,
                3px 3px $github_shadow,
                4px 4px $github_shadow,
               5px 5px $github_shadow,
               6px 6px $github_shadow,
               7px 7px $github_shadow,
               8px 8px $github_shadow,
               9px 9px $github_shadow,
               10px 10px $github_shadow;
  }

  .github_icon:hover p {
    box-shadow:1px 1px $github_shadow,
                2px 2px $github_shadow,
                3px 3px $github_shadow,
                4px 4px $github_shadow;
  }


  .vk_icon p {
    background-color: #4C75A3;
    box-shadow: 1px 1px $vk_shadow,
                2px 2px $vk_shadow,
                3px 3px $vk_shadow,
                4px 4px $vk_shadow,
                5px 5px $vk_shadow,
                6px 6px $vk_shadow,
                7px 7px $vk_shadow,
                8px 8px $vk_shadow,
                9px 9px $vk_shadow,
                10px 10px $vk_shadow;
  }

  .vk_icon:hover p {
    box-shadow:1px 1px $vk_shadow,
               2px 2px $vk_shadow,
               3px 3px $vk_shadow,
               4px 4px $vk_shadow;
  }



  .telegram_icon p {
    background-color: #0087CB;
    box-shadow:1px 1px $telegram_shadow,
               2px 2px $telegram_shadow,
               3px 3px $telegram_shadow,
               4px 4px $telegram_shadow,
               5px 5px $telegram_shadow,
               6px 6px $telegram_shadow,
               7px 7px $telegram_shadow,
               8px 8px $telegram_shadow,
               9px 9px $telegram_shadow,
               10px 10px $telegram_shadow;
  }

  .telegram_icon:hover p {
    box-shadow: 1px 1px $telegram_shadow,
                2px 2px $telegram_shadow,
                3px 3px $telegram_shadow,
                4px 4px $telegram_shadow;
  }


  .last {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding-left:20px;
    bottom: 15px;
    color: #aaa;
    font-size: 15px;
    font-family: sans-serif;
  }

}

//end.





































































